<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1> kakao map 3 교통 정보 표시하기 </h1>

<br>
<br>
<!-- 1단계 지도를 표시할 위치 id값 -->
	<div id="map" style="width:500px;height:400px;"></div>

<!-- 2단계 api key 값 & sdk -->
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=YOURS"></script>


<!-- 3단계 지도 설정 -->
	<script>

	var container = document.getElementById('map');  //id값
	var options = {
		center: new kakao.maps.LatLng(33.450701, 126.570667),
		level: 7
	};

	var map = new kakao.maps.Map(container, options);
	
	//교통 정보 표시
	map.addOverlayMapTypeId(kakao.maps.MapTypeId.TRAFFIC);
		

	</script>
</body>
</html>
