<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1> kakao map 5 지도상에 클릭한 위치정보 알아내기 </h1>

<br>
<br>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Kakao 지도 시작하기</title>
</head>
<body>


<!-- 1단계 지도를 표시할 위치 id값 -->
	<div id="map" style="width:500px;height:400px;"></div>
	<div id="result"></div>

<!-- 2단계 api key 값 & sdk -->
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=YOURS"></script>


<!-- 3단계 지도 설정 -->
	<script>
		var container = document.getElementById('map');  //id값
		var options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3
		};

		var map = new kakao.maps.Map(container, options);
		
		
		// 지도위를 누른 위치에 나타낼 마커를 일단 기본 지도 중심으로 생성
		var marker = new kakao.maps.Marker({
			position:map.getCenter()
		})
		
		marker.setMap(map);
		
		// 지도를 누르면 그 위치로 마커를 이동
		
		kakao.maps.event.addListener(map,'click',function(mouseEvent) {
			//클릭한 위도와 경도정보 추출
			var latlng = mouseEvent.latLng;
			
			//추출한 위도와 경도 위치로 마커를 이동
			marker.setPosition(latlng);
			
			//이동된 위도와 경도값을 출력
			var msg = "위도 : " + latlng.getLat() + '<br>';
			    msg += "경도 : " + latlng.getLng();
			var resultDiv = document.getElementById('result');
			resultDiv.innerHTML = msg;
		
		})
		
	</script>
</body>
</html>



</body>
</html>
