<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1> kakao map 6 주소를 지도상에 표시하기 </h1>

<br>
<br>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Kakao 지도 시작하기</title>
</head>
<body>


<!-- 1단계 지도를 표시할 위치 id값 -->
	<div id="map" style="width:500px;height:400px;"></div>


<!-- 2단계 api key 값 & sdk -->
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=YOURS"></script>


<!-- 3단계 지도 설정 -->
	<script>
		var container = document.getElementById('map');  //id값
		var options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3
		};

		// 지도를 생성합니다    
		var map = new kakao.maps.Map(container, options); 
		
		// 주소-좌표 변환 객체를 생성합니다
		var geocoder = new kakao.maps.services.Geocoder();

		// 주소로 좌표를 검색합니다
		geocoder.addressSearch('서울시 서대문구 신촌로 73', function(result, status) {

		    // 정상적으로 검색이 완료됐으면 
		     if (status === kakao.maps.services.Status.OK) {

		        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

		        // 결과값으로 받은 위치를 마커로 표시합니다
		        var marker = new kakao.maps.Marker({
		            map: map,
		            position: coords
		        });

		        // 인포윈도우로 장소에 대한 설명을 표시합니다
		        var infowindow = new kakao.maps.InfoWindow({
		            content: '<div style="width:150px;text-align:center;padding:6px 0;">우리학원</div>'
		        });
		        infowindow.open(map, marker);

		        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
		        map.setCenter(coords);
		    } 
		});    
		</script>
</body>
</html>



</body>
</html>
